<div class="container">
<div style="margin: 0 auto; width:200px; height: 100px;"><h1>Logo</h1></div>
<div id="register-form">
	<div class="input-field">
		<input type="email" class="validate" id="register-email">
		<label for="register-email">E-Mail</label>
	</div>
	<a class="waves-effect waves-light btn"><i class="material-icons left">mail</i>Send recovery email</a>
	<div class="input-field hide">
		<input type="password" id="register-pass" class="validate">
		<label for="register-pass">Password</label>
	</div>
	<h6 id="register-result"></h6>
</div>
	</div>
<div class="row" id="bottom-nav">
	<div class="col s12 card grey lighten-3" id="bottom-nav-row">
	  <a class="waves-effect waves-teal btn-flat left" onclick="init();"><i class="material-icons left">keyboard_arrow_left</i> Back</a>
	  <a class="waves-effect waves-teal btn-flat right" onclick="recoverysteptwo();"><i class="material-icons right">keyboard_arrow_right</i> Next</a>
	</div>
</div>