<div class="row">
  <div class="col s12 card hoverable">
      <p class="card-head red-text text-lighten-1">KPI</p>
      <ul>
        <li class="settings-entry waves-effect waves-grey col s12 m6">
          <a href="#" class="black-text">
            <i class="material-icons left red-text settings-icon">timeline</i>
            Add/Remove KPI
          </a>
        </li>
        <li class="settings-entry waves-effect waves-grey col s12 m6">
          <a href="#" class="black-text">
            <i class="material-icons left red-text settings-icon">text_format</i>
            Rename KPI
          </a>
        </li>
        <li class="settings-entry waves-effect waves-grey col s12 m6">
          <a href="#" class="black-text">
            <i class="material-icons left red-text settings-icon">archive</i>
            Select a source/manager
          </a>
        </li>
        <li class="settings-entry waves-effect waves-grey col s12 m6">
          <a href="#" class="black-text">
            <i class="material-icons left red-text settings-icon">trending_up</i>
            KPI visualization
          </a>
        </li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col s12 card hoverable">
    <p class="card-head red-text text-lighten-1">Profile</p>
    <ul>
      <li class="settings-entry waves-effect waves-grey col s12 m6">
        <a href="#" class="black-text" onclick="openeditprofile();">
          <i class="material-icons left red-text settings-icon">face</i>
          Edit profile
        </a>
      </li>
      <li class="settings-entry waves-effect waves-grey col s12 m6">
        <a href="#" class="black-text">
          <i class="material-icons left red-text settings-icon">account_balance</i>
          Change data plan
        </a>
      </li>
      <li class="settings-entry waves-effect waves-grey col s12 m6">
        <a href="#" class="black-text" onclick="logout();">
          <i class="material-icons left red-text settings-icon">exit_to_app</i>
          Log out
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col s12 card hoverable">
      <p class="card-head red-text text-lighten-1">Team</p>
      <li class="settings-entry waves-effect waves-grey col s12 m6">
        <a href="#" class="black-text">
          <i class="material-icons left red-text settings-icon">group</i>
          Manage your team
        </a>
      </li>
      <li class="settings-entry waves-effect waves-grey col s12 m6">
        <a href="#" class="black-text">
          <i class="material-icons left red-text settings-icon">group_add</i>
          Add a member
        </a>
      </li>
    </div>
  </div>
  <div class="row">

    <div class="col s12 card hoverable">
      <p class="card-head red-text text-lighten-1">Info</p>
      <li class="settings-entry waves-effect waves-grey col s12 m6">
        <a href="#" class="black-text">
          <i class="material-icons left red-text settings-icon">live_help</i>
          F.A.Q.
        </a>
      </li>
      <li class="settings-entry waves-effect waves-grey col s12 m6">
        <a href="#" class="black-text">
          <i class="material-icons left red-text settings-icon">question_answer</i>
          Talk to us
        </a>
      </li>
      <li class="settings-entry waves-effect waves-grey col s12 m6">
        <a href="#" class="black-text">
          <i class="material-icons left red-text settings-icon">send</i>
          Request a new integration
        </a>
      </li>
      <li class="settings-entry waves-effect waves-grey col s12 m6">
        <a href="#" class="black-text">
          <i class="material-icons left red-text settings-icon">info_outline</i>
          About Dream Dashboard
        </a>
      </li>
    </div>
  </div>
</div>


<div class="modal-fullscreen" id="editprofile-modal">
  <div class="fullscreen-toolbar blue">
    <a href="#" class="left white-text fullscreen-modal-close waves-effect waves-light waves-circle" onclick="toggleNotificationsAdd2();"><i class="material-icons">close</i></a>
    <h4 class="fullscreen-modal-header white-text">Edit profile</h4>
    <a href="#" class="right white-text waves-effect waves-light">save<i class="material-icons right">save</i></a>
  </div>
  <div class="container fullscreen-modal-content">
    <div class="row">
      <div class="col s4">
        <div class="round avatar-pic waves-effect waves-light">
          <label for="avatar-pic-upload"><img src="" id="avatar-img"></label>
          <input id="avatar-pic-upload" type="file" accept="image/*" onchange="shownewimage();">
        </div>
        <input type="hidden" id="hiddenphotodata">
      </div>
      <div class="col s8">
        <div class="row">
          <div class="col s12 profile-name" ><input type="text" value="" id="profile-fname"></div>
          <div class="col s12 profile-name" ><input type="text" value="" id="profile-mname"></div>
          <div class="col s12 profile-name" ><input type="text" value="" id="profile-lname"></div>
        </div>
      </div>
    </div>
    <div class="card col s12">
      <div class="card-content">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="editprofile-position">
            <label for="profile-position">Position</label>
          </div>
          <a class="btn orange waves-effect waves-light col s12" href="#"><i class="material-icons right">vpn_key</i> Change password</a>
        </div>
      </div>
    </div>
  </div>
</div>
