<div class="container">
<div style="margin: 0 auto; width:200px; height: 200px;"><h1>Logo</h1></div>
<div id="login-form">
	<div class="input-field">
		<input type="email" class="validate" id="login-email">
		<label for="login-email">E-Mail</label>
	</div>
	<div class="input-field">
		<input type="password" id="login-pass" class="validate">
		<label for="login-pass">Password</label>
	</div>
	<h6 id="login-result"></h6>
</div>
<div class="row">
	<div class="col s12">
		<a id="loginbtn" onClick="login();" class="waves-effect waves-light btn right">login</a>
	</div>
</div>
	<div class="row">
		<div class="col s12 center-align">
			<a class="waves-effect waves-teal btn-flat" onClick="openRegisterDialog();">Register new account</a>
		</div>
	</div>
	<div class="row">
		<div class="col s12 center-align">
			  <a class="waves-effect waves-teal btn-flat" onclick="passRecovery();">Password recovery</a>
		</div>
	</div>
</div>